@font-face {
    font-family: 'Futura MdCn BT';
    src: url('FuturaBT-MediumCondensed.eot');
    src: url('FuturaBT-MediumCondensed.eot?#iefix') format('embedded-opentype'),
        url('FuturaBT-MediumCondensed.woff2') format('woff2'),
        url('FuturaBT-MediumCondensed.woff') format('woff'),
        url('FuturaBT-MediumCondensed.ttf') format('truetype'),
        url('FuturaBT-MediumCondensed.svg#FuturaBT-MediumCondensed') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

