@import url('../font/font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gotham', sans-serif;
}
header,
footer,
section {
    overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    box-shadow: unset !important;
    outline: none !important;
}




/* style */
/* header */
header {
    background-color: #fff;
}
.logo {
    padding: 1em;
    width: 120px;
}
/* end header */

/* main block */
.thankyoupopwrap {
    position: relative;
    padding: 3px 0;
    background-color: #000;
}
.mainblock {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow: hidden;
}
.mainblock2 {
    background-image: url(../images/bluredbg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: relative;
    overflow: hidden;
    background-color: #060709;
}
.blurblock {
    filter: blur(3px);
}
.bannertext {
    max-width: 600px;
    width: 100%;
}
.bannercontent {
    justify-content: center;
    padding: 8% 1em 35% 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bannerbtn a {
    display: block;
    margin: 3em 0 1em 0;
    width: 300px;
}
/* end mainblock */

/* banner form */
.bannerform {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 3% 0 20% 0;
}
.bannerformcont {
    max-width: 800px;
    width: -webkit-fill-available;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .95);
    background-color: rgb(255 255 255 / 90%);
}
.bannerformtop {
    background-color: #e92227;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    text-align: center;
}
.bannerformtop p {
    font-family: 'Gotham-Medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    margin: 0 !important;
}
.formhead {
    text-align: center;
}
.formhead h4 {
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin: 1em 0;
    font-weight: 400;
    font-family: 'Gotham-Light';
    font-size: 18px;
}
.bannerformbox {
    width: 100%;
    padding: .5em 1em 1em 1em;
}
.bannerformbox .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.choosebox {
    width: 50%;
    margin: .8em 0;
}
.choosebox input {
    display: none;
}
.choosebox label {
    padding: 0 0 0 2em;
    position: relative;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}
.customcheck {
    position: absolute;
    width: 20px;
    height: 23px;
    top: -3px;
    left: 0;
    background-image: url(../images/circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.customcheck:before {
    content: '';
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 90%;
    height: 13px;
    top: 2px;
    left: 5px;
    display: none;
}
.choosebox input:checked ~ .customcheck:before {
    display: block;
}
.otherchoosebox {
    width: 100%;
    display: flex;
    align-items: center;
}
.otherchoosebox .choosebox {
    width: unset;
    margin-right: 1em;
}
.otherchoosebox input[type="text"] {
    background: no-repeat;
    border: none;
    border-bottom: 1px solid #000;
    display: block;
    flex: 1;
    width: 50%;
}
.personalform {
    display: block;
}
.blurdiv {
    position: relative;
    filter: blur(3px);
    z-index: 0;
}
.blurdiv:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
}
.floatinglabel {
    position: relative;
    height: 30px;
    margin: 1.5em 0;
    font-family: 'Gotham-Light';
    z-index: 0;
}
.floatinglabel input {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    padding-top: 1em !important;
}
.floatplaceholder {
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 14px;
    font-family: 'Gotham-Light';
    z-index: -1;
    transition: .3s;
}
.floatinglabel input:focus {
    border-bottom: 1px solid #e92227;
}
.floatinglabel input:focus ~ .floatplaceholder {
    top: -5px;
}
.personalform input {
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 1em  0;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Gotham-Light';
    color: #000;
}
.personalform input::placeholder {
    color: #000;
}
.mobileinput, .mobileotp {
    width: 48%;
    display: flex;
    align-items: center;
    font-family: 'Gotham-Light';
    position: relative;
}
.mobileinput input, .mobileotp input {
    border: 1px solid #000;
    height: 25px;
    padding: 5px;
    margin: 0;
}
.mobileinput button {
    height: 25px;
    width: 130px;
    background: none;
    border: none;
    background-color: #e92227;
    border: 1px solid #000;
    margin-left: 2px;
    color: #fff;
}
.stateinputwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stateinputwrap .floatinglabel {
    width: 48%;
}

.mobileinputwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobileinput label, .mobileotp label {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 10px;
}

.textinput input {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}
.textinput {
    margin: 1em 0;
    position: relative;
    height: 28px;
    border-bottom: 1px solid #000;
}
.textinput span {
    color: #000;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.querywrap {
    display: flex;
    flex-direction: column;
}
.querywrap label {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: 'Gotham-Light';
}
.querywrap textarea {
    background: none;
    border: 1px solid #000;
    padding: 5px;
    font-size: 14px;
    font-family: 'Gotham';
    resize: none;
}
.personalchbox input {
    opacity: 0.5;
    display: none;
}
.personalchbox label {
    padding: 0 0 0 2em;
    display: block;
    margin-top: 1em;
    font-size: 12px;
    color: #000;
    position: relative;
    font-family: 'Gotham-Light';
}
.personalchbox label a {
    color: #000;
}
.personalcheck {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-radius: 2px;
}
.personalcheck:before {
    content: '';
    position: absolute;
    width: 55%;
    height: 30%;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: none;
}
.personalchbox input:checked ~ .personalcheck {
    background-color: #e92227;
}
.personalchbox input:checked ~ .personalcheck:before {
    display: block;
}
.personalsubmit {
    text-align: center;
    margin: 2em 0 0 0;
}
.personalsubmit button {
    background: none;
    border: none;
    background-color: #e92227;
    height: 30px;
    width: 100px;
    border: 1px solid #000;
    color: #fff;
    letter-spacing: 5px;
}
.tahnkyouwrap {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.thankyoubox {
    max-width: 600px;
    width: 100%;
    height: 350px;
    background-color: rgb(255 255 255 / 90%);
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.thankyoubox h4 {
    font-size: 3em;
    font-family: 'Futura-regular';
    letter-spacing: 5px;
}
.thankyoubox p {
    color: #000;
    font-weight: 700;
    margin: 1em 0;
    font-family: 'Futura-regular';
    letter-spacing: 4px;
}
.thankyouok {
    display: block;
    background-color: #e92227;
    border: 1px solid #000;
    color: #fff;
    padding: 5px 1em;
}
/* end banner form */

/* error */
.invalid-feedback {
    font-size: 11px;
    color: red;
    position: absolute;
    font-weight: 600;
    top: 110%;
    left: 0;
}

.invalid-feedback-2 {
    font-size: 11px;
    color: red;
    font-weight: 600;
}
/* end error */


.MAC .bannerformtop {
    background-color: #e92227;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    font-family: 'Gotham-Medium', Arial;
    align-items: center;
    display: block;
    line-height: 47px;
    height: 34px;
}

.MAC .formhead {
    margin: 3% 0 0;
}

.MAC .floatinglabel {
    margin-bottom: 32px;
}

.MAC .personalchbox {
    clear: both;
    display: block;
    float: left;
    width: 100%;
    padding: 5% 0;
}

.MAC .personalform  input[type="text"] {font-family: 'Arial';}


/* footer */
footer {
    background-color: #fff;
}

footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerbox {
    width: 33.33%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footerbox:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #000;
    top: 50%;
    right: -1px;
    transform: translate(0, -50%);
}
.footerbox:nth-child(3):before {
    display: none;
}
.footerbox p {
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    font-family: 'Futura Hv BT';
}
.footerbox p span {
    font-family: 'Futura-regular';
}
.footerbox ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footerbox ul li a {
    display: block;
    margin-left: 8px;
}
.footerbox ul li a img {
    width: 33px;
}





@media (max-width: 800px) {
    .bannerformcont {
        max-width: 95%;
    }
    .footerbox p {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .choosebox {
        width: 100%;
    }
    .mobileinput, .mobileotp,
    .stateinputwrap .floatinglabel {
        width: 100%;
        margin: .5em 0;
    }
    .mobileinputwrap,
    .stateinputwrap {
        flex-wrap: wrap;
    }
    .mobileinput label, .mobileotp label {
        width: 100px !important;
    }
    .querywrap {
        margin-top: .5em;
    }
    .mobileinput input, .mobileotp input {
        flex: 1;
    }
}

.MAC .invalid-feedback {
    width: 400px;
    top: 43px;
    position: absolute;
    float: left;
    clear: both;
    display: flex;
}

.MAC .mobileinputwrap {
    margin-bottom: 22px;
}

.MAC .bannerformtop p {
    line-height: 43px;
}

.querywrap {
    position: relative;
}

.MAC .personalform input {font-family: 'Arial';}

@media (max-width: 575px) {
    footer .row {
        flex-wrap: wrap;
    }
    .bannerformcont {
        background-color: rgba(255, 255, 255, 95%);
        background-color: rgb(255 255 255 / 95%);
    }
    .footerbox {
        width: 100%;
        padding: .5em;
        justify-content: center;
    }
    .choosebox label {
        font-size: 13px;
    }
    .bannerformtop {
        font-size: 14px;
    }
    .mobileinput button {
        width: 75px;
    }
}
@media (max-width: 575px) {
    .floatplaceholder,
    .mobileinput label, .mobileotp label,
    .querywrap label {
        font-size: 12px;
    }
}